.taskbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1rem;

    margin-top: -1.5rem;

}

.taskbar input {
    background-color: var(--gray-500);
    height: 3.375rem;
    width: 46rem;
    color: var(--gray-100);
    padding: 1rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;

    
}

.taskbar input::placeholder {
    color: var(--gray-300) ;
}

.taskbar button {
    display: flex;
    background-color: var(--blueDark);
    padding: 1rem;
    width: 5.625rem;
    height: 3.25rem;
    border: 0;
    border-radius: 8px;
    color: var(--gray-100);

    font-size: 0.875rem;
    font-weight: bold;
    gap: 0.5rem;
    align-items: center;

    cursor: pointer;

}

.taskbar img {
    margin-left: 0.1rem;
}